@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Nanum Myeongjo" ;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    margin: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow:0px 5px 15px rgba( 0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}


#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: #088178;
}


#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#hero {
    background-image: url("img/hero4.png");
    height:90vh;
    width: 100%;
    background-position:top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url(img/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


.content {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.content .item {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all ease 0.8;
}

.content .item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content .item:hover{
    width: 200%;
}

.content .item .text {
    position:absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 100%;
    padding: 50px 50px 100px;
    color: rgb(102, 98, 98);
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: all ease 0.5s 0.2s;
}

.content .item:hover .text {
    opacity: 1;
    bottom: 0;
}

.content .item .text h3{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: "Cormorant Garamond";
    color: rgb(102, 98, 98);
}

.content .item .text p{
    font-family: "Nanum Myeongjo";
}


#feature .fe-box {
    width: 180px;
    height: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 25px 25px 38px rgba(0, 0,  0, 0.03);
    border: 1px solid #cce7cc;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

#feature .fe-box:hover {
    box-shadow:20px 20px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
    height: 25px;
    display: inline-block;
    padding:  6px 20px 10px  20px;
    border-radius: 6px;
    color: #088178;
    background-color:#fddde4;
    font-size: 13px;
}


#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1{
    text-align: center;

}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width:23% ;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2 ease ;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}


#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
} 

#product1 .pro .des span {
    color: gray;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .icon .bi{
   /*width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    border: 1px solid #cce7d0;
    margin: auto;*/
     color: #088178;
}

#product1 .pro .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    border: 1px solid #cce7d0;
    margin: auto;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro .icon:hover:not(bi) {
    background-color: #a4c7c3;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: rgb(245, 74, 44);
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}