@import url("reset.css");

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #f1f1ed;
  font-size: 1.25rem;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: clip;
}

.main-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-screen__trees,
.main-screen__trees span{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-screen__trees_6 span{
  background: url(../img/about/trees-06.svg)bottom / auto 100% repeat-x;
}
.main-screen__trees_5 span{
  background: url(../img/about/trees-05.svg)bottom / auto 100% repeat-x;
}
.main-screen__trees_4 span{
  background: url(../img/about/trees-04.svg)bottom / auto 90% repeat-x;
}
.main-screen__trees_3 span{
  background: url(../img/about/trees-03.svg)bottom / auto 70% repeat-x;
}
.main-screen__trees_2 span{
  background: url(../img/about/trees-02.svg)bottom / auto 70% repeat-x;
}
.main-screen__trees_1 span{
  background: url(../img/about/trees-01.svg)bottom / auto 60% repeat-x;
}